body {
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffde7b;
}

header {
    margin-top: 5%;
}

.profile-card {
  display: flex;
  align-items: center;
  border: 2px solid #d34a24;
  padding: 20px 40px;
  border-radius: 16px;
  background: #fff4cd;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: scale(1.1);
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 25px;
  border: 2px solid #d34a24;
}

.name-box h3 {
  margin: 0%;
  font-size: 1.3rem;
  color: #555;
}

.name-box h1 {
  margin: 0%;
  font-size: 2rem;
  color: #101820;
}
.button-group {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.theme-button {
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  background-color: #fff4cd;
  transition: 0.3s;
  cursor: pointer;
}

.theme-button:hover {
  background-color: #82a6c5;
}

.display-projects {
  margin-top: 40px;
  width: 800px;
  height: 400px;
  padding: 20px;
  border: 3px solid #00ff00;
  border-radius: 10px;
  background-color: #111;
  box-shadow: 0 0 20px #00ff00;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.placeholder {
  font-size: 1.4rem;
  color: #0f0;
  opacity: 0.8;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#typed-text::after {
  content: '|';
  animation: blink 1s infinite;
  color: #00ff00;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.project-card {
  display: flex;
  width: 100%;
  height: auto;
  gap: 20px;
  background-color: #000;
  border: 2px solid #00ff00;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px #00ff00;
  box-sizing: border-box;
}

.project-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  border: 2px solid #00ff00;
}

.project-content {
  text-align: left;
  flex: 1;
}

.project-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #00ff00;
}

.project-description {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #00ff00
}

.project-awards {
  font-size: 0.9rem;
  opacity: 0.8;
  color: #00ff00
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.carousel-button {
  background-color: transparent;
  border: 2px solid #00ff00;
  color: #00ff00;
  padding: 5px 15px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.carousel-button:hover {
  background-color: #00ff00;
  color: #000;
}